# SPDX-FileCopyrightText: 2022 - 2023 Peter Urban, Ghent University
#
# SPDX-License-Identifier: CC0-1.0

packagecache/*
eigen*/*
pybind11*/*
Catch2**
fmt*/*
magic_enum*/*
geographiclib*
xtensor*
nlohmann_json*
pugixml*
xsimd*
xtl*
fast_float*
xxhash_cpp*
date**
sse2neon**
flat_map**
gswteos-10**
boost**

#inherited wrap files
catch2.wrap
hinnant-date.wrap
pybind11.wrap
eigen.wrap
fmt.wrap
magic_enum.wrap
indicators*
frozen*
nanobind**
robin-map**
