[submodule "subprojects/tools"]
	path = subprojects/tools
	url = ../tools.git
	branch = main

[submodule "subprojects/meson-python"]
	path = subprojects/meson-python
	url = ../meson-python.git
	branch = main

[submodule "subprojects/pybind11_mkdoc"]
	path = subprojects/pybind11_mkdoc
	url = https://github.com/pybind/pybind11_mkdoc.git
	branch = master

[submodule "subprojects/navigation"]
	path = subprojects/navigation
	url  = ../navigation.git
	branch = main

[submodule "subprojects/gridding"]
	path = subprojects/gridding
	url = ../gridding.git
	branch = main
