numba
meson
tqdm
numpy >= 1.26.0
pybind11-stubgen
pytest
matplotlib
# rasterio >= 1.3.10  # optional: not available for Python 3.14 yet
ipywidgets
pytimeparse2 >= 1.7.1
pandas >= 2.1.0
pyarrow
scipy
pyqtgraph
jupyter-rfb
pyside6
