sphinx
readthedocs-sphinx-ext
sphinx-autoapi
sphinx-design
sphinx-book-theme
pydata_sphinx_theme
nbsphinx
nbsphinx-link
ipywidgets
# nanobind provides the stubgen used to (re)generate the API stubs at build time
nanobind
# the documented package itself (installed from PyPI on Read the Docs)
themachinethatgoesping
